<main class="main">
  <p>video player provides default playback controls available in this browser</p>
  <app-video-player
    src="https://ik.imagekit.io/ikmedia/example_video.mp4"
    height="300"
    width="400"
    poster="https://ik.imagekit.io/ikmedia/example_video.mp4/ik-thumbnail.jpg"
    [controls]="true"
  />

  <hr /> <!-- ------------ -->
  
  <p>
    This video player start playing as it loads and continues to play in a loop.
    <br />
    The user is not provided with any playback controls.
  </p>
  
  <app-video-player
    src="https://ik.imagekit.io/ikmedia/example_video.mp4"
    height="300"
    width="400"
    poster="https://ik.imagekit.io/ikmedia/example_video.mp4/ik-thumbnail.jpg"
    [controls]="false"
    [autoplay]="true"
    [loop]="true"
  />
</main>
